* {
    box-sizing: border-box;
}

header {
    border:1px solid black;
    float: left;
    width: 480px;
    height: 75px;
    top: 0;
    position: relative;

    margin: auto;

}
footer {
    border:1px solid black;
    float: left;
    width: 480px;
    height: 80px;
    bottom: 0;
    
}