* {
    box-sizing: border-box;
}

header {
    border:1px solid black;
    float: left;
    width: 480px;
    height: 75px;
    top: 0;
    position: relative;
    text-align: center;
    margin: auto;

}
footer {
    background-color: pink;
    border:1px solid black;
    text-align: center;
    float: left;
    width: 480px;
    height: 80px;
    bottom: 0;
    
}
@media (min-width: 768px){
    header {
        width: 960px;
        height: 100px;
    
    }
    footer {
        background-color: pink;
        width: 760px;
        height: 150px;
    

}